.signup__background {
  background-image: url(https://images.unsplash.com/photo-1543807535-eceef0bc6599?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.signup-profile-picture-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.signup-profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #eee;
  object-fit: cover;
}

.upload-picture-icon {
  height: 25px;
  width: 25px;
  color: green;
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
  z-index: 1;
}

.edit-image-textprompt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 1.1em;
  color: white;
  z-index: 1;
}

.edit-image-textprompt:hover {
  opacity: 1;
}

.edit-image-upload-label {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}