.group-section {
  margin: 0.5rem 0 1rem;
}

.member-status {
  margin-bottom: 0;
  position: relative;
  width: 30px;
}

.member-status-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-online-status {
  color:forestgreen;
}

.sidebar-offline-status {
  color:orange ;
}

.sidebar-offline-status, .sidebar-online-status {
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: -2px;
  z-index: 1;
}

.group-display {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.group-item-tab {
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-bottom: 1px solid #ddd;
}

.other-item:hover {
  background-color: #eee;
}

.group-item-tab:last-child {
  border-bottom: none;
}

.selected-item {
  background-color: turquoise;
  color: white;
}

.selected-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.selected-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#disable {
  cursor: not-allowed;
  opacity: 0.5;
}